/* root colors */
:root{
    --white-color: #FFFFFF;
    --black-color: #222222;
    --orange-light: #FD8D3A;
    --orange-color:#FA7436;
    --grey-color: #666666;
    --bg-color: #FEFCFB;
}

*,
*::after,
*::before
{
  box-sizing: border-box;
}
body{
    margin: 0;
     font-family: "Volkhov", serif;
     font-family: "Poppins", sans-serif;
     background-color: var(--bg-color);

} 
/* base styling done */
/* common styling started */ 
.wrapper{
    max-width: 1135px;
    margin: 0 auto;
    
  }
  /* button styling */
  .btn{
    text-decoration: none;
    padding: 5px 25px;
    display: inline-block;
    font-weight: 10px;
    border-radius: 5px;
    position: relative;
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--orange-color);
  }
  .btn-lite{
    text-decoration: none;
    font-size: 14px;
    color: var(--orange-color);
    border: 2px solid var(--orange-color);
    border-radius: 5px;
    padding: 5px 10px; 
   } 
   /* header styling */
   header .header{ 
     padding-left: 50px;
     height: 100vh;
     width: 100%;
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    font-weight: bolder;
  }
  nav .site-header{
    font-family: "Volkhov", serif;
    font-weight: bold 700; 
    font-size: 35px;
    color: var(--black-color);
    
  }
  .site-header img{
    width: 20px;
    }
nav ul{
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  }
nav ul li a{
  font-weight: 500;
  text-decoration: none;
  color: var(--grey-color);
  font-size: 20px;
  }
span{
  color: var(--orange-color);
  }
.header .hero-sec{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -225px 10px;
}
.header .left h1{
    font-family: "Volkhov", serif;
    font-size: 50px;
    font-weight: bold;
    width: 500px;
    height: auto;
}
.header .left p{
  font-family: "Poppins", sans-serif;
  color: var(--grey-color);
  font-size: 20px;
  font-weight: 300;
}
.hero-sec .right .hero-image{
   width: 405px;
   height: auto;
   float: right;
   margin-top: 325px;
   margin-right: 300px;
   
}
.hero-sec .right .bg-plane{
  width: 800px;
  height: auto;
  position: relative;
  top: -550px;
  right: 19px;
  z-index: -20;
}
.achievement-cards{
 position:absolute;
}

.tour-card{
  width: 150px;
  height: 66px;
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translate(-50% -50%);
    align-items: center;
  background-color: var(--grey-color);
  position: relative;
  right: -600px;
  border-color: #222222;
  border-width: 10px;
  border-radius: 25px;
}
.tour-card h3{
  font-size: medium;
  align-items: center;
  
}











